body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(130 175 47);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-voltar {
    background-color: #ed4db7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 3em;
    margin-top: 5px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
  
  .btn-voltar:hover {
  background-color: #9cb4d4; /* Cor de fundo ao passar o mouse */
  }
